@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height:100%;
  }

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.screen{
    height: 4rem;
    margin-bottom: 4rem;
}

.wrapper {
    background: #f6f8f9;
    width: 20rem;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.ButtonBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.button {
    background: #e9f0f4;
    height: 3.5rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #242424;
    border: None;
    font-size: 2rem;
}    

.Button.equals{
    variant: "contained";
    color: "success";
}
